@import "../stellar-security-app/stellar-security/stellar-security.component.css";
.steller-container {
  width: 90%;
  margin: 0 auto;
}
.subscribe-btn:hover{
  color: #206af5 !important;
}
.mob-width{
  display: flex;
  align-items: center;
  height: 100%;
}
.steller-esim-banner {
  background-color: #206af5;
  height: 700px;
  overflow: hidden;
}
.esim-availablty img {
  margin-left: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.esim-availablty img:hover {
  transform: scale(1.1);
}
.esim-availablty p {
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.mt-30 {
  margin-top: 35px;
}
.esim-circle-bg {
  background-image: url(../../../assets/img/esim/steller-esim-banner.png);
  position: absolute;
  bottom: -195px;
  background-repeat: no-repeat;
  height: 580px;
  right: -360px;
  width: 970px;
}
.protect-content {
  width: 80%;
  margin: 0;
  color: #d6d6e0;
}
.w-90 {
  width: 90%;
}
.steller-button button {
  color: #2761fc;
  font-size: 16px;
}
.steller-card {
  height: auto;
}
.steller-card-title h5 {
  margin-top: 10px !important;
  margin-left: 0 !important;
}
.position-relative {
  position: relative !important;
}
.width-90{
    margin-top: 100px !important;
    max-width: 90% !important;
}
.color-text{
  color: #2152D4;
}
.flag_card{
  border-radius: 40px;
  height: 80px;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.flag_card p{
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #0B0C19;
  font-size: 16px;
  font-weight: 500;
}
.flag_card img{
  height: 100%;
  width: 70px;
  object-fit: contain;
}
::ng-deep .owl-nav{
  display: flex !important;
}
::ng-deep .second-slide .owl-nav{
  display: none !important;
}
.view-btn:hover{
 background-color: #2152D4 !important;
 color: #fff !important;
}
.form-group{
  position: relative;
}
.form-group input{
  width: 100%;
  outline: none;
  border: none;
  border-radius: 30px;
  height: 55px;
  background-color: #EAEAF0;
  color: #0B0C19;
  font-family: "Poppins", sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0 55px;
}
.search-icon{
  top: 40px;
  left: 16px;
}
.search-result{
  display: flex;
  flex-wrap: wrap;
  gap: 10px 34px;
}
.search-flag-card{
  height: 65px !important;
}
.country_filter_modal{
 
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.country_filter_modal .modal-content{
  height: 630px;
  overflow-x: hidden;
}
/* .center-line::after{
  content: '';
  height: 100%;
  width: 100%;
  border: 1px solid #F0F0F0;
  position: absolute;
  border-top: 0;
  left: 202px;
} */
.entairtanment-card{
  background-color: #f6f6fd;
}
.inner-promo-detail{
  justify-content: space-between;
    width: 90%;
    background: white;
    border-radius: 30px;
    height: 70px;
    align-items: center;
    padding: 0 7px;
}
.bar-img{
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 140px;
}