<div class="steller-esim-banner">
  <div class="steller-container pb-3">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex pt-12 align-items-center">
          <div class="steller-icon">
            <img src="../../../assets/img/esim/esim.png" alt="">
          </div>
          <p class="ml-3 steller-protect">Stellar eSIM</p>
        </div>
        <div class="steller-content">
          <h3 class="steller-title w-100">Stay connected wherever you are</h3>
          <p class="protect-content">Unlike traditional SIM cards, which can be removed and potentially lost or
            stolen, eSIM is embedded directly into the device's hardware during manufacturing.</p>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-30 w-90">
          <div class="steller-button">
            <button class="get-app bg-light">Buy eSIM</button>
          </div>
          <div class="esim-availablty d-flex align-items-center ">
            <p>Available with</p>
            <img src="../../../assets/img/esim/andriod.png" alt="andriod">
            <img src="../../../assets/img/esim/apple.png" alt="apple">
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="esim-circle-bg"></div>
      </div>
    </div>


  </div>
</div>

<section class="Protect-banner">
  <div class="container-fluid">
    <div class="steller-card-body">
      <div class="steller-card">
        <div class="steller-card-title ">
          <img src="../../../assets/img/esim/clock.png" alt="clock">
          <h5>Comfortable</h5>
        </div>
        <p>With e-Sim your simcard cannot be lost. You can always scan the QR-code.</p>
      </div>

      <div class="steller-card">
        <div class="steller-card-title">
          <img src="../../../assets/img/esim/bar.png" alt="bar">
          <h5>Simply</h5>
        </div>
        <p>Scan a QR-code we provide and the e-Sim is installed on your phone.</p>
      </div>
      <div class="steller-card">
        <div class="steller-card-title">
          <img src="../../../assets/img/esim/alret.png" alt="alret">
          <h5 class="ml-0 mt-1">Protected</h5>
        </div>
        <p>Your e-Sim is embedded into the hardware and is not physical which protects it from being stolen and cloned.
        </p>
      </div>
      <div class="steller-card">
        <div class="steller-card-title ">
          <img src="../../../../assets/img/rocket.png" alt="circle">
          <h5>Easy installation</h5>
        </div>
        <p>Order a e-Sim, get the QR-code and scan. Thats it!</p>
      </div>
    </div>
    <div class="promo-card mb-5 z-index-0 snubed-artist position-relative width-90">
      <div class="container">
          <div class="row">
            <div class="col-md-4">
                <div class="innner-detail-circle">
                  <img src="../../../assets/img/esim/steller_protection.png" alt="mobile">
                </div>
            </div>
            <div class="col-md-8">
              <div class=" mob-width ms-4">
                <div class="promocard-detail">
                  <div class="innner-detail ">
                    <h5>SimplyComplete protection </h5>
                    <p class="mt-5 mb-5">Unlike traditional SIM cards, which can be removed and potentially lost or stolen, eSIM is embedded directly into the device's hardware during manufacturing. This physical integration makes it more difficult for unauthorized individuals to access, tamper or clone with e-SIM.</p>
                    <div class="steller-button">
                      <button class="subscribe-btn text-light">Buy eSIM</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
 <!-- Available Worldwide section -->
 <div class="testimonial">
  <div class="title">
    Available <span class="color-text">Worldwide</span>
  </div>
  <owl-carousel-o [options]="customOptions" class="owl-side-effect">
    <ng-template carouselSlide>
      <div class="flag_card">
        <img src="../../../assets/img/esim/germany.png" alt="" class="flag">
        <p>Germany</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="flag_card">
        <img src="../../../assets/img/esim/finland.png" alt="" class="flag">
        <p>Finland</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="flag_card">
        <img src="../../../assets/img/esim/belgium.png" alt="" class="belgium">
        <p>Belgium</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="flag_card">
        <img src="../../../assets/img/esim/slovakia.png" alt="" class="flag">
        <p>Slovakia</p>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="flag_card ">
        <img src="../../../assets/img/esim/switzerland.png" alt="" class="flag">
        <p>Switzerland</p>
      </div>
    </ng-template>

  </owl-carousel-o>
  
  <div class="second-slide mt-5">
    <owl-carousel-o [options]="owlOptions" class="owl-side-effect">
      <ng-template carouselSlide>
        <div class="flag_card">
          <img src="../../../assets/img/esim/belgium.png" alt="" class="belgium">
          <p>Belgium</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="flag_card">
          <img src="../../../assets/img/esim/slovakia.png" alt="" class="flag">
          <p>Slovakia</p>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="flag_card">
          <img src="../../../assets/img/esim/germany.png" alt="" class="flag">
          <p>Germany</p>
        </div>
        
      </ng-template>
      <ng-template carouselSlide>
        <div class="flag_card ">
          <img src="../../../assets/img/esim/switzerland.png" alt="" class="flag">
          <p>Switzerland</p>
        </div>
        
      </ng-template>
      <ng-template carouselSlide>
        <div class="flag_card">
          <img src="../../../assets/img/esim/finland.png" alt="" class="flag">
          <p>Finland</p>
        </div>
      </ng-template>
  
    </owl-carousel-o>
  </div>
  <div class="steller-button text-center mt-5">
    <button class="get-app bg-light view-btn" data-bs-toggle="modal" data-bs-target="#subscribe">View All</button>
  </div>

  <!-- Modal for subscribe-->
<div class="modal fade" id="subscribe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="subscribe" aria-hidden="true">
  <div class="modal-dialog subscribe-modal">
    <div class="modal-content">
      <div class="modal-header p-0 border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body steller-card-title">
        <h5>Available Countries</h5>
        <div class="form-group">
          <input type="search" placeholder="Search for country" name="" id="">
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
</section>
  <section class="animation-card section_margin d-none">
    <div class="container">

      <!-- card-1 -->
      <div class="promo-card mb-5 z-index-0 snubed-artist">
        <div class="container">
          <div class="card-flex">
            <div class="mob-width">
              <div class="innner-detail-circle">

              </div>
            </div>
            <div class=" mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Get access to your account easy.</h5>
                  <p>Get access to your account easy.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- card-2 -->
      <div class="promo-card mb-5 z-index-0 Transfer-risk">
        <div class="container">
          <div class="card-flex">
            <div class=" mob-width">
              <div class="innner-detail-circle">

              </div>
            </div>
            <div class=" mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Remote Lock & Wipe</h5>
                  <p>Remotely lock and wipe your phone to keep your data safe in any situation.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- card-3 -->
      <div class="promo-card mb-5 z-index-0 navigation">
        <div class="container">
          <div class="card-flex">
            <div class=" mob-width">
              <div class="innner-detail-circle">
                <img src="../../../../assets/new-img/track-your-account.png" alt="">
              </div>
            </div>
            <div class="mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Always keep track of your account</h5>
                  <p>
                    Protect allows you to choose which security functions you want to be enabled. But it also gives a
                    overview of your subscription info.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

 













<!-- <div class="top-padding" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords">
        <app-main-header title="{{'esim_main_title' | translate}}" [isDifferentColor]="true" [boldBlue]="'esim_main_bold_purple' | translate" [boldBlack]="'esim_main_bold_black' | translate"></app-main-header>
 
    <div class="phone_wrapper position-relative">
      <div class="container">
        <div class="row mt_50 align-items-center justify-content-between overflow-hidden">
          <div class="col-lg-5">
            <div class="text-center">
                <div class="position-relative pt-2">
                    <img class="img-fluid" src="./../../../assets/img/what-is-esim.png" alt="sim">
                    <img class="img-fluid esim-image-border" src="./../../../assets/img/what-esim-border.svg" alt="sim-border">
                    <img class="img-fluid esim-image-planet" src="./../../../assets/img/planet.svg" alt="planet">
                </div>
        
              <p class="mt_20">{{ 'available_with' | translate }}</p>
              <a href="#"><img class="img-fluid mt_10 mr-3" src="./../../../assets/img/android_icon.svg" alt="android_icon"> <img class="img-fluid mt_10" src="./../../../assets/img/apple_icon.svg" alt="apple_icon"></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="">
                <div class="head_text ">{{ 'esim_title_light' | translate}} <span class="color-purple">{{'esim_title_bold' | translate}}</span></div>
                <div class="mt_25">
                    <p class="">{{'what_is_esim_para_1' | translate}}</p>
                    <p class="mt_25">{{'what_is_esim_para_2' | translate}}</p>
                    <p class="mt_25">{{'what_is_esim_para_3' | translate}}</p>
                </div>
              <a  href="/contact-us" class="nav_btn green-btn mt_25">{{ 'buy_esim_btn' | translate }} <img class="img-fluid" src="./../../../assets/img/simcard-white.svg" alt="sim_icon"></a>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-e-sim-benifits></app-e-sim-benifits>

    <div class="mt-100 light-gray-bg position-relative overflow-hidden">
        <img class="background-shape position-absolute" src="./../../../assets/img/stellar_phone_shape.svg" alt="phone_shape">
        <div class="container">
          <div class="row mt_50 align-items-center justify-content-between">
            <div class="col-lg-5">
              <div class="text-center">
                  <div class="position-relative">
                      <img class="img-fluid" src="./../../../assets/img/security-card.png" alt="sim-border">
                  </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="py-84">
                  <div class="head_text"><span class="color-purple">{{'esim_goal_main_bold_purple' | translate}}</span> {{ 'esim_goal_main_title' | translate}} </div>
                  <div class="mt_25">
                      <p class="">{{'esim_our_goal_para_1' | translate}}</p>
                      <p class="mt_25">{{'esim_our_goal_para_2' | translate}}</p>
                      <p class="mt_25">{{'esim_our_goal_para_3' | translate}}</p>
                  </div>
                <a  href="/contact-us" class="nav_btn green-btn mt_25">{{ 'buy_esim_btn' | translate }} <img class="img-fluid" src="./../../../assets/img/simcard-white.svg" alt="sim_icon"></a>
              
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-e-sim-plan></app-e-sim-plan>
      <app-become-seller></app-become-seller>
     <br>
</div> -->