@import "../stellar-security-app/stellar-security/stellar-security.component.css";
.steller-container {
  width: 90%;
  margin: 0 auto;
}
.steller-esim-banner {
  background-color: #206af5;
  height: 700px;
  overflow: hidden;
}
.esim-availablty img {
  margin-left: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.esim-availablty img:hover {
  transform: scale(1.1);
}
.esim-availablty p {
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.mt-30 {
  margin-top: 35px;
}
.esim-circle-bg {
  background-image: url(../../../assets/img/esim/steller-esim-banner.png);
  position: absolute;
  bottom: -195px;
  background-repeat: no-repeat;
  height: 580px;
  right: -360px;
  width: 970px;
}
.protect-content {
  width: 80%;
  margin: 0;
  color: #d6d6e0;
}
.w-90 {
  width: 90%;
}
.steller-button button {
  color: #2761fc;
  font-size: 16px;
}
.steller-card {
  height: auto;
}
.steller-card-title h5 {
  margin-top: 10px !important;
  margin-left: 0 !important;
}
.position-relative {
  position: relative !important;
}
.width-90{
    margin-top: 100px !important;
    max-width: 90% !important;
}