<div class="app_wrapper pt-100">
  <div class="container pd-sm-0">
    <div class="position-relative your-privacy-section overflow-hidden">
      <div
        class="row justify-content-between mg-sm-0 align-items-center pd-42 pb-0 flex-wrap"
      >
        <div
          class="app-left-section m-auto m-lg-0 col-lg-6 text-center text-md-left"
        >
          <h2 class="head_text">
            {{ "stellar_create_circle_title_before" | translate }}
            <br />
            <span class="color-purple"
              >{{ "stellar_create_circle_bold_purple_title" | translate }}
            </span>
        </h2>
        <p class="mt_30">{{'stellar_create_notes_description' | translate}}</p>
        </div>
        <div class="image position-relative col-lg-6 px-2 px-md-3 circle-intro-img d-flex justify-end">
          <img
            class="img-fluid corner_icon01"
            src="./../../../assets/img/stellar_circle_intro.svg"
            alt="corner_icon01"
          />
        </div>
      </div>
    </div>
    <div class="mt_140">
        <h2 class="head_text mb_100 text-center">{{"stellar_video_title" | translate}}</h2>
        <iframe width="100%" height="560px" src="https://www.youtube.com/shorts/cSm5cp_dtr4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
