.menuopen{
    cursor: pointer;
}

.bag_btn {
    position: relative;
}

.bag-amount {
    background-color: #000;
    color: #fff;
    border-radius: 250px;
    position: absolute;
    right:7px;
    font-size: 10px;
    top: 20px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 1.5em !important;
}

