<div class="pt-100 sim-binifits-wrapper">
  <div class="container mt_30">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h3 class="head_text">
          {{ "stellar_notes_feature_title_before" | translate }}
          <span class="color-purple">{{
            "stellar_notes_feature_title_purple" | translate
          }}</span>
          {{ "stellar_notes_feature_title_after" | translate }}
        </h3>
      </div>
      <div class="col-xl-3 col-12 col-lg-4 col-sm-6 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">
            {{ "stellar_circle_feature_add" | translate }}
          </h3>
          <img
            class="img-fluid"
            src="./../../../assets/img/circle-feature-add.svg"
            alt="areas_icon01"
          />
          <p>{{ "stellar_circle_feature_add_description" | translate }}</p>
        </div>
      </div>
      <div class="col-xl-3 col-12 col-lg-4 col-sm-6 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">
            {{ "stellar_circle_feature_wipe" | translate }}
          </h3>
          <img
            class="img-fluid"
            src="./../../../assets/img/circle-feature-wipe.svg"
            alt="areas_icon01"
          />
          <p>{{ "stellar_circle_feature_wipe_description" | translate }}</p>
        </div>
      </div>
      <div class="col-xl-3 col-12 col-lg-4 col-sm-6 mt_30">
        <div class="areas_item text-center">
          <h3 class="head_two">
            {{ "stellar_circle_feature_storage" | translate }}
          </h3>
          <img
            class="img-fluid"
            src="./../../../assets/img/circle-feature-storage.svg"
            alt="areas_icon01"
          />
          <p>{{ "stellar_circle_feature_storage_description" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="app_wrapper pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="position-relative mt_30 overflow-hidden circle-track-section pb-0 stellar-track-section"
        >
          <img
            src="./../../../assets/img/circle_track_device_bg.svg"
            class="track-shape bg-image"
            alt="bg-image"
          />
          <img
            class="img-fluid position-absolute corner_icon01"
            src="./../../../assets/img/corner_icon01.svg"
            alt="corner_icon01"
          />
          <img
            class="img-fluid position-absolute corner_icon02"
            src="./../../../assets/img/corner_icon02.svg"
            alt="corner_icon02"
          />
          <img
            class="img-fluid position-absolute corner_icon03"
            src="./../../../assets/img/corner_icon03.svg"
            alt="corner_icon03"
          />
          <img
            class="img-fluid position-absolute corner_icon04"
            src="./../../../assets/img/corner_icon04.svg"
            alt="corner_icon04"
          />
          <div
            class="position-relative row justify-content-between align-items-center pd-42 pb-0 flex-wrap"
          >
            <div class="app-left-section col-lg-6 text-center text-md-left">
              <img
                class="img-fluid mb_100 corner_icon04 circle-logo"
                src="./../../../assets/img/circle-logo.svg"
                alt="corner_icon04"
              />
              <h2 class="head_text head_two mt_25">
                {{ "stellar_secure_circle_wipe_title" | translate }}
              </h2>
              <div class="head_text head_three">
                {{ 'stellar_circle_because' | translate}}
                <span class="color-purple">{{ 'stellar_circle_privacy' | translate }}</span>
                {{ 'stellar_circle_matter' | translate }}
              </div>
              <!--<div class="store-images mt_85">
                <img src="./../../../assets/img/Google-store.svg" /><br /><br />
              </div>-->
            </div>
            <div class="image position-relative col-lg-6 text-right">
              <img
                class="img-fluid corner_icon01"
                src="./../../../assets/img/circle_iphone.svg"
                alt="corner_icon01"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
