<!-- install apps area start -->
<div class="install_app_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="head_text">{{ 'install_apps_head_text' | translate }} <span>{{ 'install_apps_span' | translate }}</span></h2>
        <p class="mt_25"></p>
        <p>Every phone we deliver comes with pre-installed applications.<br>
        With our built in app-stores you can install any apps you want to.<br>No email or anything personal is required.</p>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'aptoide' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>Explore and find news apps to install.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'antivirus' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>For malware and virus detection.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="cete" class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'fdroid' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>A app-store install any apps you want to.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'molly' | translate }} (Signal)</h3>
          </div>
          <div class="text-center mt_15">
            <p>Our phones comes with a number ready for Signal.</p>
            <p class="mt_25"></p>
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'session' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>A great chat-app for end-to-end encrypted chats.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
              <p class="mt_25"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'standard_notes' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>A private and secure notes app with AES-256 encryption.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'telegram' | translate }}</h3>
            <p class="mt_25"></p>
          </div>
          <div class="mt_15">
            <p>Our phones comes with a number ready for Telegram.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
              <p class="mt_25"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'vpn' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>VPN is included and encrypts all your internet traffic.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'whatsapp' | translate }}</h3>
          </div>
          <div class="mt_15">
            <p>Our phones comes with a number ready for Whatsapp.</p>
            <p class="mt_25"></p>
            <div align="center">
              <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            </div>
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app text-center">
          <h3 class="head_two">{{ 'install_other_apps' | translate }}</h3>
          <p class="mt_30">{{ 'install_other_apps_description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- install apps area end -->
