<!-- install apps area start -->
<div class="install_app_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="head_text">{{ 'install_apps_head_text' | translate }} <span>{{ 'install_apps_span' | translate }}</span></h2>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'aptoide' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'antivirus' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'cryptool' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'fdroid' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'molly' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'photo_vault' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'session' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'standard_notes' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'telegram' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'threema' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'vpn' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app_item">
          <div class="d-flex align-items-center justify-content-between">
            <h3 class="head_two">{{ 'whatsapp' | translate }}</h3>
          </div>
          <div class="text-center mt_15">
            <img class="img-fluid install_appicon" src="./../../../assets/img/install_appicon.svg" alt="install_appicon">
            <p class="mt_25"></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
        <div class="install_app text-center">
          <h3 class="head_two">{{ 'install_other_apps' | translate }}</h3>
          <p class="mt_30">{{ 'install_other_apps_description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- install apps area end -->
