/* @import '../security-common.css';

.phone_shape {
    top: 0px !important;
    transform: translateY(0%) !important;
}

.amount_duration{
    font-size: 18px;
    font-family: silka-medium;
}
.amount_price{
    font-size: 30px;
    font-family: silka-medium;
}
ul.stellar-protected-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}
.main-mobile-img{
    max-width: 307px;
}
.protected-icon{
    max-width: 554px;
} */

/* NEW CSS START */

.steller-protect-banner {
  background-color: #4364fa;
  /* height: 100vh; */
  background-image: url(../../../../assets/img/circle-fram.png);
  background-position: bottom;
  /* background-size: cover; */
  background-repeat: no-repeat;
}
.pt-12 {
  padding-top: 12rem;
}
.steller-icon {
  background: white;
  height: 32px;
  width: 32px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.steller-protect {
  color: white;
  font-weight: 600;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}
.steller-title {
  margin-top: 30px !important;
  font-size: 56px;
  font-weight: bold;
  color: white;
  width: 70%;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
.protect-content {
  color: white;
  margin-top: 20px !important;
  font-size: 18px;
  width: 60%;
  margin: 0 auto;
}
.steller-mobile {
  margin-top: 5rem;
  /* margin-left: 6rem; */
}
.get-steller-card {
  background: white;
  border-radius: 80px;
  height: 95px;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 47px !important;
  margin: 0 auto 26px;
}
.steller-subscribtion {
  margin-left: 16px;
}
.steller-subscribtion h3 {
  font-size: 18px;
  font-weight: bold;
  color: #0b0c19;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}
.steller-subscribtion span {
  color: #4364fa;
}
.steller-subscribtion p {
  color: #0b0c19;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.steller-icon-get {
  height: 45px;
  width: 45px;
  background-color: #4364fa;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.steller-icon-get img {
  filter: brightness(50.5);
}
.steller-button button {
  height: 50px;
  border: 1px solid #4364fa;
  border-radius: 40px;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0 10px 0 0;
  padding: 0rem 2rem;
  transition: 0.4s;
}
.subscribe-btn {
  background-color: #4364fa;
  color: white;
}
.subscribe-btn:hover {
  background-color: transparent;
  color: #4364fa;
}
.get-app {
  background: transparent;
  color: #4364fa;
}
.get-app:hover {
  background-color: #4364fa;
  color: white;
}
.andriod-icon-detail h5 {
  color: white;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.andriod-icon img {
  height: 40px;
}
.andriod-icon-detail p {
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}
.andriod-icon-detail {
  margin-left: 16px;
}

/* Protect Section styling */
.Protect-banner {
  background-color: #f6f6fd;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -40px;
  padding-bottom: 50px;
}
.steller-card {
  background: white;
  border-radius: 40px;
  padding: 3.3rem;
  width: 30%;
  height: 100%;
}
.steller-card-body {
  display: flex;
  padding-top: 90px;
  width: 90%;
  gap: 30px;
  margin: 0 auto;
}
.steller-card-title h5 {
  font-size: 23px;
  font-weight: 600;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  color: #0b0c19;
}
.steller-card p {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #62626a;
  line-height: 1.5;
}
.steller-image-card {
  margin-top: 100px;
}
.steller-image-card h3 {
  color: #0b0c19;
  font-size: 56px;
  font-weight: 700;
  width: 35%;
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 1.23;
}
.steller-image-card h3 span {
  color: #4364fa;
}
.section_margin {
  margin-top: 50px;
}
.card-detail {
  position: relative;
  background-color: white;
  padding: 46px 70px 11px;
  border-radius: 48px;
  transition: 0.3s;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-detail h4 {
  font-size: 25px;
  color: #0b0c19;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.card-detail p {
  margin-top: 10px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #62626a;
  line-height: 1.5;
  font-weight: 300;
}
.card-detail > div.position-relative{
  width: fit-content;
}
.card-flex {
  gap: 30px;
  width: 90%;
  margin: 0 auto;
}
.inner-image .hover-img {
  position: relative;
  justify-content: center;
  margin-top: 40px;
}
.inner-image img{
  border-radius: 190px;
}
.play-icon {
  height: 60px;
  display: flex;
  justify-content: end;
  margin-top: 50px;
  width: 100%;
}
.play-icon img {
  cursor: pointer;
  height: 100%;
}
.side-image {
  background: #f6f6fd;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  z-index: 9;
  left: 0px;
}

.fixed-height .play-icon {
  margin-top: 9px;
}
.side-image img {
  height: 39px;
}
.steller-card {
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

/* TEstimonail css start */
.testimonial {
  position: relative;
}
.comma {
  height: 100px;
}
.title {
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #0b0c19;
  text-align: center;
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
}
.testimonial_card {
  background: white;
  padding: 4rem;
  border-radius: 40px;
}
.testimonial_card .comma.blue{
  display: none;
}
.testimonial_card img {
  height: 30px;
  width: 40px;
}
.testimonial_card p {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #0B0C19;
}
.designation {
  padding-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.designation p {
    font-size: 14px;
    min-width: 140px;
    text-align: left;
}
.designation p:last-child{
  color: #62626A;
}
::ng-deep .owl-nav {
  position: absolute;
  top: -95px;
  right: 50px;
  display: flex;
  gap: 16px;
}
::ng-deep .testimonial .owl-prev {
  height: 40px;
  width: 40px;
  border: 1px solid #1b66f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 400;
  color: #1b66f8;
}
::ng-deep .testimonial .owl-next {
  height: 40px;
  width: 40px;
  border: 1px solid #1b66f8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 400;
  color: #1b66f8;
}
::ng-deep .owl-item:not(.center){
  opacity: 0.7;
}
::ng-deep .owl-item.center .testimonial_card > p{
  font-weight: 600;
}
::ng-deep .owl-item.center .testimonial_card .comma{
  display: none;
}
::ng-deep .owl-item.center .testimonial_card .comma.blue{
  display: block;
}

/* counter-section css start */
.counter_title {
  margin-top: 100px !important;
  width: 50%;
  margin: 0 auto;
}
.counter_title h3 {
  font-size: 47px;
  font-weight: bold;
}
.counter-main {
  margin-top: 48px;
  gap: 5rem;
  margin-bottom: 55px;
  flex-wrap: wrap;
}
.counter-card h1 {
  color: #1b66f8;
  font-size: 50px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.counter-card p {
  color: #0b0c19;
  margin-top: 8px;
  font-size: 18px;
  font-family: Poppins, sans-serif;
}
.steller-button{
  position: relative;
}
.social-modal-dialog {
  border: 0;
  position: absolute;
  left: 0;
  bottom: 77px;
  background: #fff;
  border-radius: 24px;
  min-width: 196px;
  box-shadow: 0 8px 32px rgb(0 0 0 / 5%);
}
.social-modal-dialog .modal-body{
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 16px;
}
/* GET Steller style */
.get-steller-card-mobile {
  background-color: #f6f6fd;
  border-radius: 48px;
  padding: 46px 46px 0;
  margin-bottom: 40px;
  position: relative;
}
.steller_wipe h5 {
  font-size: 25px;
  color: #0b0c19;
  font-family: Poppins, sans-serif;
  margin-top: 18px;
  margin-bottom: 8px;
}
.steller_wipe strong {
  font-size: 27px;
  color: #0b0c19;
  font-family: Poppins, sans-serif;
  font-weight: bold;
}
.steller_wipe p {
  font-size: 16px;
  margin-top: 15px;
  color: #0b0c19;
  font-family: Poppins, sans-serif;
  margin-bottom: 15px;
}
.steller_wipe button {
  border-radius: 40px;
  height: 49px;
  border: 1px solid #1b66f8;
  outline: none;
  color: #1b66f8;
  background-color: transparent;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: 0.4s;
}
.steller_wipe button:hover {
  background-color: #1b66f8;
  color: white;
}
/* customize_steller css */
.customize_steller {
  margin-top: 100px;
}
.custamize-image-detail h3 {
  color: #0b0c19;
  font-family: Poppins, sans-serif;
  font-size: 44px;
  width: 90%;
  font-weight: bold;
}
.custamize-image-detail p {
  color: #0b0c19;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-top: 24px;
}
.margin-top-100 {
  margin-top: 100px;
  margin-bottom: 30px;
}

.social-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.social-modal .modal-content{
  border-radius: 24px;
  width: 70%;
  padding: 12px;
}
.app-btn-img img{
  cursor: pointer;
}
.subscribe-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 680px;
}
.subscribe-modal .modal-content{
  border-radius: 24px;
  padding: 12px;
}
.subscribe-modal-footer{
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e9e9ef;
}
.subscribe-image img{

  cursor: pointer;
  margin-left: 0;
}
.subscribe-modal-title-detail{
  text-align: start;
  margin-top: 2rem;
}
.subscribe-modal-title-detail h3{
  font-size: 27px;
  font-weight: bold;
  color: #0b0c19;
  font-family: Poppins, sans-serif;
}
.subscribe-modal-title-detail p{
  color: #62626a;
  font-family: Poppins, sans-serif;
}
.selection-card{

  text-align: start;
  margin-top: 24px;
  box-shadow: 0px 0px 1px 1px #eaeaf0;
  border-radius: 16px;
  padding: 14px;
}
.plan-card{
  border-radius: 8px;
  border: 1px solid #eaeaf0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
}
.plan-card:hover{
  border: 1px solid #0063fb;
  background-color: #f6f6fd;
}
.flex-gap{
  gap: 16px;
}
.plan-card p{
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #62626a;
}
.plan-card strong{
  font-family: Poppins, sans-serif;
  color: #0b0c19;
}
.steller-continue{
  margin: 23px 0;
}
.steller-continue button{
  width: 100%;
}
.subscribe-modal-footer p{
  font-family: Poppins, sans-serif;
  color: #62626a;
  font-size: 14px;
}
.innner-detail-circle{
  background-color: #e7efff;
  height: 408px;
  width: 408px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.innner-detail-circle img{
  margin-bottom: -86px;
}
.animation-card
{
  position: relative;
  padding-bottom: 580px;
}
.promo-card {
  box-sizing: border-box;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 98%;
  flex-direction: row;
  height: 472px;
  max-width: 1400px;
  margin: 2.125rem auto 0;
  background: white;
  border-radius: 40px;
  box-shadow: 0 0 1px 1px #eaeaf0;
  z-index: 4;
  left: 0;
  margin: auto;
  overflow: hidden;
  align-items: center;
  position: absolute;
  right: 0;
}
.innner-detail {
  padding: 0 0 0 4rem;
}
.promo-card h5 {
  margin: 0;
  /* margin-bottom: px; */
  line-height: 150%;
 /* font-size: 3.2rem; */
 font-size: 44px;
 font-family: Poppins, sans-serif;
  font-weight: 700;
  color: #0b0c19;
}
.promo-card.Transfer-risk{
 top: 4rem;
}
.promo-card.navigation{
 top: 8rem;
}
.promo-card p {
  margin-top: 13px;
  line-height: 1;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #62626a;
}
.card-flex{
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
  .steller-title {
    margin-top: 25px !important;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
  }
  .steller-mobile {
    margin-top: 2rem;
  }
  .steller-mobile img {
    height: 100%;
    width: 100%;
  }
  .protect-content {
    margin-top: 16px !important;
    font-size: 13px;
    width: 100%;
  }
  .get-steller-card {
    width: 100%;
    margin-top: 27px !important;
    height: 140px;
    border-radius: 24px;
  }
  .get-bnt-mobile {
    flex-wrap: wrap;
  }
  .steller-button {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  .andriod-icon-detail h5 {
    font-size: 14px;
    margin-top: 5px;
  }
  .andriod-icon-detail p {
    font-size: 13px;
  }
  .andriod-icon-detail {
    margin-left: 0;
  }
  .steller-card-body {
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    gap: 20px;
  }
  .steller-card {
    padding: 2.3rem;
    width: 100%;
  }
  .steller-card-title h5 {
    font-size: 18px;
  }
  .steller-card p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.4;
  }
  .steller-image-card h3 {
    font-size: 28px;
    width: 100%;
    font-weight: 700;
  }
  .steller-image-card {
    margin-top: 40px;
  }
  .section_margin {
    margin-top: 0px;
  }
  .card-detail {
    padding: 26px 9px 4px;
  }
  .card-detail h4 {
    font-size: 19px;
  }
  .card-detail p {
    margin-top: 5px;
    font-size: 15px;
  }
  .title {
    font-size: 28px;
    margin-top: 3.5rem;
    margin-bottom: 5.5rem;
  }
  ::ng-deep .testimonial .owl-next {
    height: 27px;
    width: 27px;
    font-size: 17px;
  }
  ::ng-deep .testimonial .owl-prev {
    height: 27px;
    width: 27px;
    font-size: 17px;
  }
  ::ng-deep .owl-nav {
    top: -35px;
    right: 25px;
    gap: 8px;
  }
  .counter_title {
    width: 90%;
    margin-top: 30px !important;
  }
  .counter_title h3 {
    font-size: 27px;
  }
  .counter-main {
    gap: 2rem;
    margin-top: 21px;
    margin-bottom: 45px;
  }
  .counter-card h1 {
    font-size: 35px;
  }
  .steller_mobile img {
    height: 100%;
    width: 100%;
  }
  .reverse-row {
    flex-direction: column-reverse;
  }
  .get-steller-card-mobile {
    padding: 25px 25px 0;
  }
  .steller_wipe h5 {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 8px;
  }
  .steller_wipe strong {
    font-size: 18px;
  }
  .steller_wipe p {
    margin-top: 10px;
  }
  .steller_wipe button {
    margin-bottom: 20px;
  }
  .order-no {
    margin-top: 25px;
  }
  .custamize-image-detail h3 {
    font-size: 27px;
    width: 90%;
  }
  .customize_steller {
    margin-top: 40px;
  }
  .custamize-image-detail p {
    font-size: 15px;
    margin-top: 12px;
    line-height: 1.4;
  }
  .privacy-title {
    margin-top: 30px;
  }
  .custamize-image img {
    height: 100%;
    width: 100%;
  }
  .mt-10 {
    margin-top: 20px;
  }
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .innner-detail-circle{
   height: 200px;
   width: 200px; 
  }
  .card-flex{
    flex-wrap: wrap;
    justify-content: center;
  }
  .innner-detail {
    padding: 0.5rem 0 0 0rem;
}
  .promo-card {
    margin: 40px 0;
  }
  .promo-card h5 {
    font-size: 2.2rem;
  }
  .promo-card p {
    font-size: 1.7rem;
  }
  .flex-gap{
    flex-wrap: wrap;
  }
  .plan-card{
    text-align: start;
  }
  .subscribe-modal-footer{
    flex-wrap: wrap;
  }
  .subscribe-modal .modal-content{
    margin-top: 16rem;
  }
  .steller-title {
    margin-top: 25px !important;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
  }
  .steller-mobile {
    margin-top: 2rem;
  }
  .steller-mobile img {
    height: 100%;
    width: 100%;
  }
  .protect-content {
    margin-top: 16px !important;
    font-size: 13px;
    width: 100%;
  }
  .get-steller-card {
    width: 100%;
    margin-top: 27px !important;
    height: 140px;
    border-radius: 24px;
  }
  .get-bnt-mobile {
    flex-wrap: wrap;
  }
  .steller-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;
  }
  .steller-button button {
    width: 100%;
  }
  .mobile-wrap {
    flex-wrap: wrap;
  }
  .andriod-icon-detail h5 {
    font-size: 14px;
    margin-top: 5px;
  }
  .andriod-icon-detail p {
    font-size: 13px;
  }
  .andriod-icon-detail {
    margin-left: 0;
  }
  .steller-card-body {
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
    gap: 20px;
  }
  .steller-card {
    padding: 2.3rem;
    width: 100%;
  }
  .steller-card-title h5 {
    font-size: 18px;
  }
  .steller-card p {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.4;
  }
  .steller-image-card h3 {
    font-size: 28px;
    width: 100%;
    font-weight: 700;
  }
  .steller-image-card {
    margin-top: 40px;
  }
  .section_margin {
    margin-top: 0px;
  }
  .card-detail {
    padding: 26px 9px 4px;
  }
  .card-detail h4 {
    font-size: 19px;
  }
  .card-detail p {
    margin-top: 5px;
    font-size: 15px;
  }
  .title {
    font-size: 28px;
    margin-top: 3.5rem;
    margin-bottom: 5.5rem;
  }
  ::ng-deep .testimonial .owl-next {
    height: 27px;
    width: 27px;
    font-size: 17px;
  }
  ::ng-deep .testimonial .owl-prev {
    height: 27px;
    width: 27px;
    font-size: 17px;
  }
  ::ng-deep .owl-nav {
    top: -35px;
    right: 25px;
    gap: 8px;
  }
  .counter_title {
    width: 90%;
    margin-top: 30px !important;
  }
  .counter_title h3 {
    font-size: 27px;
  }
  .counter-main {
    gap: 2rem;
    margin-top: 21px;
    margin-bottom: 45px;
  }
  .counter-card h1 {
    font-size: 35px;
  }
  .steller_mobile img {
    height: 100%;
    width: 100%;
  }
  .reverse-row {
    flex-direction: column-reverse;
  }
  .get-steller-card-mobile {
    padding: 25px 25px 0;
  }
  .steller_wipe h5 {
    font-size: 18px;
    margin-top: 13px;
    margin-bottom: 8px;
  }
  .steller_wipe strong {
    font-size: 18px;
  }
  .steller_wipe p {
    margin-top: 10px;
  }
  .steller_wipe button {
    margin-bottom: 20px;
  }
  .order-no {
    order: 5;
    margin-top: 25px;
  }
  .custamize-image-detail h3 {
    font-size: 27px;
    width: 90%;
  }
  .customize_steller {
    margin-top: 40px;
  }
  .custamize-image-detail p {
    font-size: 15px;
    margin-top: 12px;
    line-height: 1.4;
  }
  .privacy-title {
    margin-top: 30px;
  }
  .custamize-image img {
    height: 100%;
    width: 100%;
  }
  .mt-10 {
    margin-top: 20px;
  }
}
