<!-- banner section -->
<div class="steller-protect-banner">
  <div class="container pb-3">
    <div class="steller-content text-center">
      <div class="d-flex pt-12 justify-content-center align-items-center">
        <div class="steller-icon">
          <img src="../../../../assets/img/Stellar_Protect_icon.svg" alt="">
        </div>
        <p class="ml-3 steller-protect">Stellar Protect</p>
      </div>
      <h3 class="steller-title">Protect safeguards and defend your phone</h3>
      <p class="protect-content">Remotely wipe your phone and automatically initiates a wipe if left unlocked for a
        while</p>
      <div class="steller-mobile">
        <img src="../../../../assets/img/steller-mobile.png" alt="moblie">

      </div>
      <div class="get-steller-card">
        <div class="d-flex justify-content-between align-items-center w-100 get-bnt-mobile">

          <div class="d-flex  align-items-center ">
            <div class="steller-icon-get">
              <img src="../../../../assets/img/Stellar_Protect_icon.svg" alt="">
            </div>

            <div class="steller-subscribtion">
              <p>Subscribe to Stellar Protect</p>
              <h3>Starting from <span> $7.99/mo</span></h3>
            </div>
          </div>

          <div class="steller-button">
            <button class="get-app" (click)="showAppModal = !showAppModal">Get App</button>
            <button class="subscribe-btn" data-bs-toggle="modal" data-bs-target="#subscribe">Subscribe</button>
            <div class="modal-cstm" id="getapp" *ngIf="showAppModal">
              <div class="social-modal-dialog">
                <div class="modal-body app-btn-img">
                  <img src="../../../../assets/img/Aptoide_btn.png" alt="Aptoide-btn">
                  <img src="../../../../assets/img/google-play.png" alt="play-store">
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Modal for play store and app store-->


<!-- Modal for subscribe-->
<div class="modal fade" id="subscribe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="subscribe" aria-hidden="true">
  <div class="modal-dialog subscribe-modal">
    <div class="modal-content">
      <div class="modal-header p-0 border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex  align-items-center ">
          <div class="steller-icon-get">
            <img src="../../../../assets/img/users.png" alt="user">
          </div>

          <div class="steller-subscribtion">
            <h3>Stellar Circle</h3>
          </div>
          
        </div>
        <div class="subscribe-modal-title-detail">
          <h3>Pick the subscription</h3>
          <p>Choose the subscription that best fits your</p>
        </div>
        <div class="selection-card">
          <div class="d-flex align-items-center">
            <p>Choose your charging plan</p>
            <i class="fas fa-info-circle ms-2"></i>
          </div>
          <div class="d-flex mt-3 flex-gap">
            <div class="plan-card">
              <p>Monthly</p>
              <strong>7,99 €</strong>
            </div>
            <div class="plan-card">
              <p>Quarterly</p>
              <strong>20,99 €</strong>
            </div>
            <div class="plan-card">
              <p>Twice a Year</p>
              <strong>39,99 €</strong>
            </div>
            <div class="plan-card">
              <p>Annualy</p>
              <strong>75.99 €</strong>
            </div>
          </div>
        </div>
          <div class="steller-button steller-continue w-100">
            <button class="subscribe-btn">Continue</button>
          </div>
      </div>
      <div class="subscribe-modal-footer">
       <p>Or get from stores</p>
       <div class=" app-btn-img subscribe-image">
        <img src="../../../../assets/img/Aptoide_btn.png" alt="Aptoide-btn">
        <img src="../../../../assets/img/google-play.png" class="ms-1" alt="play-store">
      </div>
      </div>
    </div>
  </div>
</div>
</div>

      <div class="d-flex justify-content-center align-items-center mb-5 pb-5 mobile-wrap">
        <div class="andriod-icon">
          <img src="../../../../assets/img/andriod-icon.png" alt="andriod icon">
        </div>
        <div class="andriod-icon-detail">
          <h5>Works for all Android and AOSP projects</h5>
          <p>Includes GrapheneOS, LineageOS, CalyxOS, etc.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Banner section end -->

<!-- Protect section -->
<section class="Protect-banner">
  <div class="container-fluid">
    <div class="steller-card-body">
      <div class="steller-card">
        <div class="steller-card-title d-flex align-items-center">
          <img src="../../../../assets/img/ring-crcle.png" alt="circle">
          <h5>Simple and Effective Protection</h5>
        </div>
        <p>Lock down your personal info with our built-in privacy features. Your data are safe with us!</p>
      </div>
      <div class="steller-card">
        <div class="steller-card-title ">
          <img src="../../../../assets/img/search-bar.png" alt="circle">
          <h5 class="ml-0 mt-1">Stay Protected Everywhere</h5>
        </div>
        <p>Lock down your personal info with our built-in privacy features. Your data are safe with us!</p>
      </div>
      <div class="steller-card">
        <div class="steller-card-title d-flex align-items-center">
          <img src="../../../../assets/img/rocket.png" alt="circle">
          <h5>Speedy and Secure</h5>
        </div>
        <p>Protect your data even if your phone gets lost or stolen. Peace of mind at your fingertips!</p>
      </div>
    </div>
    <div class="steller-image-card">
      <h3>Protecting your phone
        as it is a <span> Fort Knox</span></h3>
    </div>
    <div class="container section_margin">
      <div class=" row">
        <div class="col-md-6">
          <div class="card-detail">
            <h4>Remote Wipe</h4>
            <p>If you lose your phone, you can always remote wipe and delete the phone through wipe.stellarsecurity.com
              or
              by contacting us.</p>
            <div class="position-relative">
              <div class="side-image">
                <img src="../../../../assets/img/icons/signal-provider.png" alt="">
              </div>
              <div class="inner-image">
                <div class="d-flex hover-img ">
                  <img src="../../../../assets/new-img/remote-wipe.png" alt="" class="img-1">
                </div>

              </div>
            </div>
            <div class="play-icon">
              <img src="../../../../assets/img/play_video.svg" alt="play">
            </div>
          </div>
          <!-- Screen Alive Protect height card -->
          <div class="card-detail">
            <h4>Screen Alive Protect</h4>
            <p>If someone takes your phone while it is unlocked, protect will automatically lock the phone after 20
              minutes with your password even if they keep the screen-alive.</p>
            <div class="position-relative">
              <div class="side-image">
                <img src="../../../../assets/img/icons/live-detector.png" alt="">
              </div>
              <div class="inner-image">
                <div class="d-flex hover-img ">
                  <img src="../../../../assets/new-img/alive-proctect.png" alt="" class="img-1">
                </div>

              </div>
            </div>
            <div class="play-icon">
              <img src="../../../../assets/img/play_video.svg" alt="play">
            </div>
          </div>
          <!-- Shake Detector card -->
          <div class="card-detail">
            <h4>Shake Detector</h4>
            <p>If you shake your phone hardly the phone will lock itself with the phone password. The function is useful
              in case of assault and theft.</p>
            <div class="position-relative">
              <div class="side-image">
                <img src="../../../../assets/img/icons/shake-detector.png" alt="">
              </div>
              <div class="inner-image">
                <div class="d-flex hover-img ">
                  <img src="../../../../assets/new-img/shake-detector.png" alt="" class="img-1">
                </div>

              </div>
            </div>
            <div class="play-icon">
              <img src="../../../../assets/img/play_video.svg" alt="play">
            </div>
          </div>
        </div>

        <!-- Fixed Height card column-->
        <div class="col-md-6">

          <div class="card-detail fixed-height">
            <h4>Dropped Detector</h4>
            <p>If your phone drops to the ground the phone will lock itself with the phone password. The function is
              useful in case of assault and theft</p>
            <div class="position-relative">
              <div class="side-image">
                <img src="../../../../assets/img/icons/drop-detector.png" alt="">
              </div>
              <div class="inner-image">
                <div class="d-flex hover-img ">
                  <img src="../../../../assets/new-img/drop-detector.png" alt="" class="img-1">
                </div>


              </div>
            </div>
            <div class="play-icon">
              <img src="../../../../assets/img/play_video.svg" alt="play">
            </div>

          </div>
          <!-- USB Detection card -->
          <div class="card-detail fixed-height">
            <h4>USB Detection</h4>
            <p>If your phone is locked and it tries to connect to a computer/car or anything that tries to do other
              things than charging with the USB it will wipe itself.</p>
            <div class="position-relative">
              <div class="side-image">
                <img src="../../../../assets/img/icons/usb-detector.png" alt="">
              </div>
              <div class="inner-image">
                <div class="d-flex hover-img ">
                  <img src="../../../../assets/new-img/usb-detection.png" alt="" class="img-1">
                </div>


              </div>
            </div>
            <div class="play-icon">
              <img src="../../../../assets/img/play_video.svg" alt="play">
            </div>

          </div>
          <!-- Wipe Phone after a certain time of inactivity card -->
          <div class="card-detail fixed-height">
            <h4>Wipe Phone after a certain time of inactivity</h4>
            <p>The phone will be completely deleted if there is 20+ failed password attempts</p>
            <div class="position-relative">
              <div class="side-image">
                <img src="../../../../assets/img/icons/live-detector.png" alt="">
              </div>
              <div class="inner-image">
                <div class="d-flex hover-img ">
                  <img src="../../../../assets/new-img/wipe-after-password.png" alt="" class="img-1">
                </div>


              </div>
            </div>
            <div class="play-icon">
              <img src="../../../../assets/img/play_video.svg" alt="play">
            </div>

          </div>
          <div class="card-detail fixed-height">
            <h4>Wipe Phone after a certain time of inactivity</h4>
            <p>The phone will be completely deleted if there is 20+ failed password attempts</p>
            <div class="position-relative">
              <div class="side-image">
                <img src="../../../../assets/img/icons/live-detector.png" alt="">
              </div>
              <div class="inner-image">
                <div class="d-flex hover-img ">
                  <img src="../../../../assets/new-img/wipe-after-time.png" alt="" class="img-1">
                </div>


              </div>
            </div>
            <div class="play-icon">
              <img src="../../../../assets/img/play_video.svg" alt="play">
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

    <section class="animation-card section_margin">
    <div class="container">
     
      <!-- card-1 -->
      <div class="promo-card mb-5 z-index-0 snubed-artist">
        <div class="container">
          <div class="card-flex">
            <div class="mob-width">
              <div class="innner-detail-circle">
               
              </div>
            </div>
            <div class=" mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Get access to your account easy.</h5>
                  <p>Get access to your account easy.</p>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <!-- card-2 -->
      <div class="promo-card mb-5 z-index-0 Transfer-risk">
        <div class="container">
          <div class="card-flex">
            <div class=" mob-width">
              <div class="innner-detail-circle">
               
              </div>
            </div>
            <div class=" mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Remote Lock & Wipe</h5>
                  <p>Remotely lock and wipe your phone to keep your data safe in any situation.</p>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <!-- card-3 -->
      <div class="promo-card mb-5 z-index-0 navigation">
        <div class="container">
          <div class="card-flex">
            <div class=" mob-width">
              <div class="innner-detail-circle">
               <img src="../../../../assets/new-img/track-your-account.png" alt="">
              </div>
            </div>
            <div class="mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Always keep track of your account</h5>
                  <p>
                    Protect allows you to choose which security functions you want to be enabled. But it also gives a overview of your subscription info.
                  </p>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
   
     
    </div>
  </section>

  <!-- Testimonial section -->
  <div class="testimonial">
    <div class="title">
      Testimonials
    </div>
    <owl-carousel-o [options]="customOptions" class="owl-side-effect">
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I recently lost my phone while traveling, and I was worried about my personal data falling into the wrong
            hands. Thanks to Stellar Protect's remote wipe feature, I was able to erase all my data remotely and avoid a
            potential disaster!</p>
            <div class="designation">
              <p>David Stevens</p>
              <p>SecureData Corp</p>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I've tried other security apps before, but none of them compare to this one. Its comprehensive set of
            features, user-friendly interface, and affordable pricing make it the perfect choice for individuals and
            businesses alike</p>
          <div class="designation">
            <p>Lisa Williams</p>
            <p>TechDefend Ltd.</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I've tried several security apps in the past, but Stellar Protect is by far the best! Its intuitive
            interface and powerful features make it a must-have for anyone concerned about online security</p>
          <div class="designation">
            <p>Sarah Miller</p>
            <p>SecureTech Solutions</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I recently lost my phone while traveling, and I was worried about my personal data falling into the wrong
            hands. Thanks to Stellar Protect's remote wipe feature, I was able to erase all my data remotely and avoid a
            potential disaster!</p>
            <div class="designation">
              <p>David Stevens</p>
              <p>SecureData Corp</p>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I've tried other security apps before, but none of them compare to this one. Its comprehensive set of
            features, user-friendly interface, and affordable pricing make it the perfect choice for individuals and
            businesses alike</p>
          <div class="designation">
            <p>Lisa Williams</p>
            <p>TechDefend Ltd.</p>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>

  </div>
</section>

<!-- Counter section start -->
<section class="counter-section">
  <div class="counter_title">
    <h3>The most convenient way to be maximum secured</h3>
    <div class="d-flex counter-main"> 
      <div class="counter-card">
        <h1>{{ usersSaved }}</h1>
        <p>Users saved from data leaking</p>
      </div>
      <div class="counter-card">
        <h1>{{ purchases }}K</h1>
        <p>Purchases this month</p>
      </div>
      <div class="counter-card">
        <h1>{{ screensProtected }}</h1>
        <p>Screens protected</p>
      </div>
    </div>

  </div>
  <div class="get-steller-card shadow">
    <div class="d-flex justify-content-between align-items-center w-100 get-bnt-mobile">

      <div class="d-flex  align-items-center ">
        <div class="steller-icon-get">
          <img src="../../../../assets/img/Stellar_Protect_icon.svg" alt="">
        </div>

        <div class="steller-subscribtion">
          <p>Subscribe to Stellar Protect</p>
          <h3>Starting from <span> $7.99/mo</span></h3>
        </div>
      </div>

      <div class="steller-button">
        <button class="get-app" data-bs-toggle="modal" data-bs-target="#getapp">Get App</button>
        <button class="subscribe-btn" data-bs-toggle="modal" data-bs-target="#subscribe">Subscribe</button>
      </div>

    </div>
  </div>
</section>

<!-- Get Steller Section -->
<section class="get-steller">
  <div class="container">
    <div class="get-steller-card-mobile">
      <div class="container">
        <div class="row reverse-row">
          <div class="col-md-5 text-center">
            <div class="steller_mobile">
              <img src="../../../../assets/img/steller-half-mob.png" alt="mobile">
            </div>
          </div>
          <div class="col-md-7 pl-0 mt-2">
            <div class="d-flex  align-items-center ">
              <div class="steller-icon-get">
                <img src="../../../../assets/img/users.png" alt="user">
              </div>

              <div class="steller-subscribtion">
                <h3>Stellar Circle</h3>
              </div>
            </div>
            <div class="steller_wipe">
              <h5>Wipe and secure </h5>
              <strong>your friend’s phone</strong>
              <p>Protect their privacy and peace of mind with just a few taps.</p>
              <div class="subscription_btn">
                <button>Get Stellar Circle</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Customize security section -->
<section class="customize_steller">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="custamize-image-detail">
          <h3>Customize your security</h3>
          <p>Stellar Protect is a revolutionary application that offers a wide range of functions aimed at ensuring the
            security and privacy of its users. There is no other app, that protects your device like Protect does.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="custamize-image d-flex justify-content-end mt-10">
          <img src="../../../../assets/img/security-mob.png" alt="mobile">
        </div>
      </div>
      <div class="col-md-6 margin-top-100 order-no">
        <div class="custamize-image">
          <img src="../../../../assets/img/privacy-mob.png" alt="mobile">
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="custamize-image-detail">
          <h3 class="privacy-title">Because your privacy matters the most</h3>
          <p>Stellar Protect is a revolutionary application that offers a wide range of functions aimed at ensuring the
            security and privacy of its users. There is no other app, that protects your device like Protect does.</p>
        </div>
      </div>
    </div>
  </div>
</section>








<!-- <div class="top-padding security-app-wrapper" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords">
    <div class="d-flex align-items-center justify-content-center">
        <h1><img class="protected-icon" src="./../../../assets/img/Logo_Stellar_Protect.png" alt="Stellar Protect" title="Stellar Protect"></h1>
    </div>

    <div class="phone_wrapper position-relative">
        <img class="phone_shape position-absolute" src="./../../../assets/img/phone_shape.svg" title="Stellar Protect App" alt="Stellar Protect App">
        <div class="container">
          <div class="row align-items-centers">
            <div class="col-lg-6">
              <div class="text-center mt_50">
                <img class="img-fluid main-mobile-img" src="./../../../assets/img/stellar-protect-mobile.svg" title="Stellar Protect App" alt="Stellar Protect App">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="phone_box mt_50">
                <div class="text-center text-md-left">
                    <div class="head_text head_two">{{ 'stellar_safeguard_title' | translate}}</div>
                    <div class="mt_25"><span class="amount_text amount_price">{{ 'stellar_safeguard_amount' | translate }}</span> /<span class="amount_duration">{{ 'stellar_safeguard_amount_duration' | translate }}</span></div>
                </div>
                  <p class="mt_25"> {{ 'stellar_safeguard_description' | translate }}</p>

                  <p class="mt_25"><strong>{{'stellar_safeguard_description_works' | translate }}</strong></p>

                    <ul class="stellar-protected-list mt_25">
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark1">
                        <span>{{'stellar_safeguard_amount_list_7' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark2">
                        <span>{{'stellar_safeguard_amount_list_1' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark3">
                        <span>{{'stellar_safeguard_amount_list_2' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark4">
                        <span>{{'stellar_safeguard_amount_list_3'  | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark5">
                        <span>{{'stellar_safeguard_amount_list_4' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark6">
                        <span>{{'stellar_safeguard_amount_list_5' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark7">
                        <span>{{'stellar_safeguard_amount_list_6' | translate}}</span>
                    </li>
                    <li>
                        <img class="img-fluid" src="./../../../assets/img/check-mark.svg" alt="check mark7">
                        <span>{{'stellar_safeguard_amount_list_8' | translate}}</span>
                    </li>
                  </ul>



                  <a href="javascript:void(0)" [ladda]="addingToCart" (click)="onAddToCart()" class="nav_btn mt_25">{{ 'buy_protect_button' | translate }} <img class="img-fluid" src="./../../../assets/img/basket_icon.svg" alt="basket_icon"></a>



                  <div class="mt_25">{{'available_app_in_other_stores' | translate}}</div>
                  <div class="payment_logo mt_30">

                    <img class="img-fluid" src="./../../../assets/img/payment_icon01.svg" alt="payment_icon01">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon02.svg" alt="payment_icon02">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon03.svg" alt="payment_icon03">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon04.svg" alt="payment_icon04">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon05.svg" alt="payment_icon05">
                    <img class="img-fluid" src="./../../../assets/img/payment_icon06.svg" alt="payment_icon06">
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-stellar-privacy></app-stellar-privacy>
      <app-stellar-protect-device></app-stellar-protect-device>
      <app-first-class-safety></app-first-class-safety>
      <app-stellar-track-account></app-stellar-track-account>
      <app-stellar-security-seller></app-stellar-security-seller>
</div> -->