<div class="testimonial container-fluid">
    <h2 class="text-center mb-5 pb-4">Testimonials</h2>
    <owl-carousel-o [options]="customOptions" class="owl-side-effect">
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="/assets/images/quote-icon-grey.svg" alt="" class="comma">
          <img src="/assets/images/quote-icon-blue.svg"  alt="" class="comma blue">
          <p class="mt-5">I recently lost my phone while traveling, and I was worried about my personal data falling into the wrong
            hands. Thanks to Stellar Protect's remote wipe feature, I was able to erase all my data remotely and avoid a
            potential disaster!</p>
            <div class="designation">
              <p>David Stevens</p>
              <p>SecureData Corp</p>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="/assets/images/quote-icon-grey.svg" alt="" class="comma">
          <img src="/assets/images/quote-icon-blue.svg"  alt="" class="comma blue">
          <p class="mt-5">I've tried other security apps before, but none of them compare to this one. Its comprehensive set of
            features, user-friendly interface, and affordable pricing make it the perfect choice for individuals and
            businesses alike</p>
          <div class="designation">
            <p>Lisa Williams</p>
            <p>TechDefend Ltd.</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="/assets/images/quote-icon-grey.svg" alt="" class="comma">
          <img src="/assets/images/quote-icon-blue.svg"  alt="" class="comma blue">
          <p class="mt-5">I've tried several security apps in the past, but Stellar Protect is by far the best! Its intuitive
            interface and powerful features make it a must-have for anyone concerned about online security</p>
          <div class="designation">
            <p>Sarah Miller</p>
            <p>SecureTech Solutions</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="/assets/images/quote-icon-grey.svg" alt="" class="comma">
          <img src="/assets/images/quote-icon-blue.svg"  alt="" class="comma blue">
          <p class="mt-5">I recently lost my phone while traveling, and I was worried about my personal data falling into the wrong
            hands. Thanks to Stellar Protect's remote wipe feature, I was able to erase all my data remotely and avoid a
            potential disaster!</p>
            <div class="designation">
              <p>David Stevens</p>
              <p>SecureData Corp</p>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="/assets/images/quote-icon-grey.svg" alt="" class="comma">
          <img src="/assets/images/quote-icon-blue.svg"  alt="" class="comma blue">
          <p class="mt-5">I've tried other security apps before, but none of them compare to this one. Its comprehensive set of
            features, user-friendly interface, and affordable pricing make it the perfect choice for individuals and
            businesses alike</p>
          <div class="designation">
            <p>Lisa Williams</p>
            <p>TechDefend Ltd.</p>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>

  </div>