.font_28{
    font-size: 28px;
}
.line-h-44{
    line-height: 44px;
}
.stellerTextMargin {
    margin-bottom: 16px;
}

.stellerGrayText, .stellerBlackText {
    font-size: 16px;
    color: #707070;
    line-height: 24px;
    font-family: 'silka-medium';
}
.flex_1{
    flex: 1;
}
.flex_2{
    flex: 2;
}
.mb_48{
    margin-bottom: 48px;
}
@media (max-width:767px) {
    .bag_item_invoice{
        flex-direction: column;
    }
    .stellerGrayText, .stellerBlackText{
        font-size: 14px !important;
    }
}

.loading-icon {
    width: 64px;
    height: 64px;
}

.checkout-btn {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.item-remove {
    color: blue;
}

.item-remove:hover {
    text-decoration: underline;
    cursor: pointer;
}
.bag-img-item-loader{
    width: 180px;
    max-height: 180px;
    height: 100%;

}