<div class="header-padding-fix st-home-wrapper">
  
  <div class="home-banner">
    <div class="home-banner-inner">
      <div class="banner-inner-content text-white text-center">
        <h1 class="h1 mb-5"> High-end security and privacy for you</h1>
        <p class="font-16 faded-light mb-5 pb-2">Stellar Security is a provider of next-generation modern technologies to enhance your communication and device with high-end security and privacy solutions.</p>
        <div>
          <button type="button" class="cstm-btn round mr-3">Buy Phone</button>
          <button type="button" class="cstm-btn round outlined mr-3 transparent">All Products</button>
        </div>
      </div>
    </div>
  </div>

  <div class="below-main-banner">
    <div class="content-space"></div>
  <div class="container">

    <div class="stellar-home-banner-2">
      <div class="banner-2-content text-center text-white">
        <h2 class="h2 mb-3">Unparalleled Stellar Security</h2>
        <p class="font-16">Maximum protection for your device with Stellar Security</p>
      </div>
    </div>

    <div class="stellar-circle-card-wrapper">
      <div class="st-card-content flex-lg-row flex-column">
        <div class="custom-card">
          <img class="mb-3" src="/assets/images/home/tabler-icon-clock-24.svg" width="73" alt="">
          <h4 class="h4 mb-4 pb-2 font-weight-bold">Constant 24/7 active protection</h4>
          <p class="font-16">A smooth design, a high quality OS and built on solid hardware. </p>
        </div>
        <div class="custom-card">
          <img class="mb-3" src="/assets/images/home/tabler-icon-chart-infographic.svg" width="73" alt="">
          <h4 class="h4 mb-4 pb-2 font-weight-bold">Daily system monitoring</h4>
          <p class="font-16">The Stellar Phone is slick and packed with just the right security features.</p>
        </div>
        <div class="custom-card">
          <img class="mb-3" src="/assets/images/home/tabler-icon-password-mobile-phone.svg" width="73" alt="">
          <h4 class="h4 mb-4 pb-2 font-weight-bold">Complete security and privacy</h4>
          <p class="font-16">The Stellar Phone is slick and packed with just the right security features.</p>
        </div>
        <div class="custom-card">
          <img class="mb-3" src="/assets/images/home/tabler-icon-shield-cog.svg" width="73" alt="">
          <h4 class="h4 mb-4 pb-2 font-weight-bold">Encrypted message storage</h4>
          <p class="font-16">A smooth design, a high quality OS and built on solid hardware. </p>
        </div>
      </div>
    </div>

    <div class="stellar-home-registered-partner">
      <img src="/assets/images/home/Layer_1.png" width="140" alt="">
      <span>Registered Partner</span>
    </div>

    <div class="stellar-home-card-guard">
      <div class="card-guard-content">
        <h2 class="h2 mb-3">Stellar Phone</h2>
        <p class="font-16 mb-4" style="max-width: 600px;margin: auto;">A smooth design, a high quality OS and built on solid hardware. The Stellar Phone is slick and packed with just the right security features.</p>
        <div class="card-guard-items mb-5">
          <div class="d-flex align-items-center">
            <img class="mr-3" src="/assets/images/home/tabler-icon-shield-check.svg" width="32" alt="">
            <span>Secured</span>
          </div>
          <div class="d-flex align-items-center">
            <img class="mr-3" src="/assets/images/home/tabler-icon-shield-lock.svg" width="32" alt="">
            <span>Secured</span>
          </div>
          <div class="d-flex align-items-center">
            <img class="mr-3" src="/assets/images/home/tabler-icon-shield-lock.svg" width="32" alt="">
            <span>Secured</span>
          </div>
        </div>
        <button type="button" class="cstm-link-btn icon-button mr-3 font-16">
          <img class="mr-3" src="/assets/images/home/Brand Android.svg" width="26"  alt="" />
          <span>Buy Phone</span>
          </button>
        <button type="button" class="cstm-link-btn mr-3 font-16">Learn More ></button>
      </div>
      <div class="card-guard-img">
        <img src="/assets/images/home/image 43.png" class="w-100" alt="">
      </div>
    </div>

    <div class="stellar-home-card-guard card-guard-2 flex-lg-row flex-column">
      <div class="card-guard-content">
        <h2 class="h2 mb-3">Stellar Antivirus</h2>
        <p class="font-16 mb-4" style="max-width: 600px;margin: auto;">A smooth design, a high quality OS and built on solid hardware. The Stellar Phone is slick and packed with just the right security features.</p>
        <div class="card-guard-items mb-5">
          <div class="d-flex align-items-center">
            <img class="mr-3" src="/assets/images/home/tabler-icon-shield-check.svg" width="32" alt="">
            <span>Secured</span>
          </div>
          <div class="d-flex align-items-center">
            <img class="mr-3" src="/assets/images/home/tabler-icon-shield-lock.svg" width="32" alt="">
            <span>Secured</span>
          </div>
          <div class="d-flex align-items-center">
            <img class="mr-3" src="/assets/images/home/tabler-icon-shield-lock.svg" width="32" alt="">
            <span>Secured</span>
          </div>
        </div>
        <button type="button" class="cstm-link-btn icon-button mr-3 font-16">
          <img class="mr-3" src="/assets/images/home/Brand Android.svg" width="26"  alt="" />
          <span>Get App</span>
          </button>
        <button type="button" class="cstm-link-btn mr-3 font-16">Learn More ></button>
      </div>
      <div class="card-guard-img">
        <img src="/assets/images/home/Frame 33.png" class="w-100" alt="">
      </div>
    </div>
  </div>

  <div class="stellar-home-cards-list container">
    <app-stellar-home-cards [titleIcon]="'/assets/images/home/LogoIcon.svg'" [cardTitle]="'Stellar Protect'" 
    [cardDescription]="'Protect defends your device in a way no other have done before.'"
    [cardImage]="'/assets/images/home/Pixel 6.png'" class="app-stellar-home-cards"></app-stellar-home-cards>
    <app-stellar-home-cards [titleIcon]="'/assets/images/home/LogoIcon%20(1).svg'" [cardTitle]="'Stellar Notes'" 
    [cardDescription]="'Prevent, detect, and remove malware, spyware and other kind of threats. '"
    [cardImage]="'/assets/images/home/CenterScreen (1).png'" class="app-stellar-home-cards"></app-stellar-home-cards>
    <app-stellar-home-cards [titleIcon]="'/assets/images/home/LogoIcon%20(1).svg'" [cardTitle]="'Stellar Circle'" 
    [cardDescription]="'Protect their privacy and peace of mind with just a few taps.'"
    [cardImage]="'/assets/images/home/Pixel 6 (1).png'" class="app-stellar-home-cards"></app-stellar-home-cards>
    <app-stellar-home-cards [titleIcon]="'/assets/images/home/LogoIcon.svg'" [cardTitle]="'Stellar Secret'" 
    [cardDescription]="'Send your secret Privately. Send secure links, messages disappear after viewing'"
    [cardImage]="'/assets/images/home/Pixel 5.png'" class="app-stellar-home-cards"></app-stellar-home-cards>
    
  </div>

  <app-stellar-more-products class="stellar-more-products-slider"></app-stellar-more-products>

  <div class="content-space"></div>

   <!-- Testimonial section -->
   <app-testimonial></app-testimonial>
  
  <div class="content-space"></div>
  <div class="container">
    <div class="stellar-contact-section custom-card">
      <h3 class="h3 mb-5">Stellar Security is a provider of next-generation modern technologies to enhance your communication and device with high-end security and privacy solutions.</h3>
      <button type="button" class="cstm-btn round mr-4">About Us</button>
      <button type="button" class="cstm-btn round outlined mr-3">Contact Us</button>
    </div>
  </div>

</div>
</div>


















<!-- <div class="top-main-section position-relative" appMetaTags [description]="metaDescription" [ogTitle]="metaTitle" [keywords]="metaKeywords">
  <img class="stellar-main-glow img-fluid" loading="lazy" src="./../../../assets/img/main-glow.png" alt="stellar-main-glow">
  <app-main-header [title]="'big_head_text'| translate" [boldTitle]="'stellar_security' | translate" ></app-main-header>
   <div class="container pd-top-100">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img src="./../../../assets/img/stellar-security-main.svg" loading="lazy" class="img-fluid" alt="stellar-security-main">
      </div>
    <div class="col-lg-6 py-5 py-lg-0 text-center text-lg-left">
      <h2 class="head_text head_two">{{'home_page_main_phone_title1' | translate}} <span class="color-purple">{{'home_page_main_phone_title2' | translate}}</span></h2>
      <p class="mt_20 font-size-24">{{'home_page_main_phone_description' | translate}}</p>
      <div class="d-flex mt_20 py-2 justify-content-center justify-content-lg-start">
       
      </div>
      <div class="d-flex mt_30 justify-content-center justify-content-lg-start">
        <a href="/stellar-phone" class="nav_btn">{{'home_page_main_phone_button1' | translate}} <img loading="lazy" src="./../../../assets/img/basket_icon.svg" alt="basket_icon"></a>
        <a  href="/stellar-phone" class="make_btn ml-3">{{'home_page_main_phone_button2' | translate}} </a>
      </div>
    </div>
    </div>
   </div>
</div>
<div class="stellar-home-card-list pd-top-100">
    <app-stellar-home-cards [stellarCardheading1]="'home_stellar_protect_title1'" [stellarCardheading2]="'home_stellar_protect_title2'" [stellarCarddescription]="'home_stellar_protect_description'" [stellarCardheadingIcon]="'stellar-ptotect-card-Icon.svg'" [stellarCardmainImage]="'card-protect.png'" [isRight]="false" [stellarCardbuttonText]="'home_stellar_protect_button'" [stellarCardbuttonLink]="'/stellar-protect'"></app-stellar-home-cards>

    <app-stellar-home-cards [stellarCardheading1]="'home_stellar_antivirus_title1'" [stellarCardheading2]="'home_stellar_antivirus_title2'" [stellarCarddescription]="'home_stellar_antivirus_description'" [stellarCardheadingIcon]="'stellar-antivirus-card-Icon.svg'" [stellarCardmainImage]="'card-antivirus.png'" [isRight]="true" [stellarCardbuttonText]="'home_stellar_antivirus_button'" [stellarCardbuttonLink]="'/stellar-antivirus'"></app-stellar-home-cards>

    <app-stellar-home-cards [stellarCardheading1]="'home_stellar_vpn_title1'" [stellarCardheading2]="'home_stellar_vpn_title2'" [stellarCarddescription]="'home_stellar_vpn_description'" [stellarCardheadingIcon]="'stellar-vpn-card-Icon.svg'" [stellarCardmainImage]="'card-vpn.png'" [isRight]="false" [stellarCardbuttonText]="'home_stellar_vpn_button'" [stellarCardbuttonLink]="'/stellar-vpn'"></app-stellar-home-cards>

    <app-stellar-home-cards [stellarCardheading1]="'home_stellar_esim_title1'" [stellarCardheading2]="'home_stellar_esim_title2'" [stellarCarddescription]="'home_stellar_esim_description'" [stellarCardheadingIcon]="'stellar-esim-card-Icon.svg'" [stellarCardmainImage]="'card-esim.png'" [isRight]="true" [stellarCardbuttonText]="'home_stellar_esim_button'" [stellarCardbuttonLink]="'/stellar-esim'"></app-stellar-home-cards>

    <app-stellar-home-cards [stellarCardheading1]="'home_stellar_notes_title1'" [stellarCardheading2]="'home_stellar_notes_title2'" [stellarCarddescription]="'home_stellar_notes_description'" [stellarCardheadingIcon]="'stellar-notes-card-Icon.svg'" [stellarCardmainImage]="'card-notes.png'" [isRight]="false" [stellarCardbuttonText]="'home_stellar_notes_button'" [stellarCardbuttonLink]="'/stellar-notes'"></app-stellar-home-cards>

    <app-stellar-home-cards [stellarCardheading1]="'home_stellar_support_title1'" [stellarCardheading2]="'home_stellar_support_title2'" [stellarCarddescription]="'home_stellar_support_description'" [stellarCardheadingIcon]="'stellar-support-card-Icon.svg'" [stellarCardmainImage]="'card-support.png'" [isRight]="true" [stellarCardbuttonText]="'home_stellar_support_button'" [stellarCardbuttonLink]="'/contact-us'"></app-stellar-home-cards>

</div>

    
    <div class="areas_wrapper d-none">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="head_text">{{ 'security_head_text' | translate }} <span>{{ 'security' | translate }}</span></h2>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'phone' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon01.svg" alt="areas_icon01">
              <p>{{ 'phone_description' | translate }}</p>
              <a class="make_btn" href="/stellar-phone">{{ 'read_more' | translate }}</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'antivirus' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon02.svg" alt="areas_icon02">
              <p>{{ 'antivirus_description' | translate }}</p>
              <a class="make_btn" href="/stellar-antivirus" >{{ 'read_more' | translate }}</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'vpn' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon03.svg" alt="areas_icon03">
              <p>{{ 'vpn_description' | translate }}</p>
              <a class="make_btn" href="/stellar-vpn">{{ 'read_more' | translate }}</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'support' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon04.svg" alt="areas_icon04">
              <p>{{ 'support_description' | translate }}</p>
              <a class="make_btn" href="/contact-us">{{ 'read_more' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>


 <app-customer-reviews></app-customer-reviews>



<app-security-section></app-security-section> -->


