<app-main-header [title]="'big_head_text'| translate" [boldTitle]="'stellar_security' | translate" ></app-main-header>

    <!-- section areas area start -->
    <div class="areas_wrapper">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="head_text">{{ 'security_head_text' | translate }} <span>{{ 'security' | translate }}</span></h2>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'phone' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon01.svg" alt="areas_icon01">
              <p>{{ 'phone_description' | translate }}</p>
              <a class="make_btn" href="/stellar-phone">{{ 'read_more' | translate }}</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'antivirus' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon02.svg" alt="areas_icon02">
              <p>{{ 'antivirus_description' | translate }}</p>
              <a class="make_btn" href="/stellar-antivirus" >{{ 'read_more' | translate }}</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'vpn' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon03.svg" alt="areas_icon03">
              <p>{{ 'vpn_description' | translate }}</p>
              <a class="make_btn" href="/stellar-vpn">{{ 'read_more' | translate }}</a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-sm-6 col-9 mt_30">
            <div class="areas_item text-center">
              <h3 class="head_two">{{ 'stellar' | translate }}<span> {{ 'support' | translate }}</span></h3>
              <img class="img-fluid" src="./../../../assets/img/areas_icon04.svg" alt="areas_icon04">
              <p>{{ 'support_description' | translate }}</p>
              <a class="make_btn" href="/contact-us">{{ 'read_more' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- section areas area end -->

  <!-- section customer start end -->

  <app-customer-section></app-customer-section>

  <!-- section customer area end -->


  <!-- section security area end -->

<app-security-section></app-security-section>

  <!-- section security area end -->

