<div class="app_wrapper pt-100">
    <div class="container">
        <div class="">
            <div class="position-relative mt_30 protect-device-section text-center">
                <div class="protect-title">
                    <h2 class="head_text">{{ 'stellar_protect_device_title' | translate }}  </h2>
                    <p class="mt_20">{{ 'stellar_protect_watch_video' | translate }}  </p>
                </div>
                <div class="image position-relative mt_25">
                    <div class="play-pause-video" (click)="playVideo()" >
                        <img *ngIf="!this.isPause" src="./../../../assets/img/play_video.svg">
                    </div>
                   
                    <video #myVideo id="intro-video" class="w-100" poster="./../../../assets/img/protected_video_security.svg">
                        <source src="./../../../assets/img/video/StellarSecurity-Protect.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <!-- <img class="img-fluid corner_icon01" src="./../../../assets/img/protected_video_security.svg" alt="corner_icon01"> -->
                  </div>
               
            </div>
        </div>
    </div>
  </div>
