<!-- banner section -->
<div class="steller-protect-banner notes-bg">
  <div class="container pb-3">
    <div class="steller-content text-center">
      <div class="d-flex pt-12 justify-content-center align-items-center">
        <div class="steller-icon-get">
          <img src="../../../../assets/img/icons/doc-file.png" alt="">
        </div>
        <p class="ml-3 steller-protect">Stellar Notes</p>
      </div> 
      <div class="steller-notes-title">
        <h3 class="steller-title">Simple notes,
          serious privacy</h3>
        <p class="protect-content">Create notes effortlessly, lock them securely. Your thoughts, your privacy. Simplified.</p>
      </div>
     
      <div class="steller-mobile">
        <img src="../../../../assets/img/esim/mobile-group.png" class="mobile-group" alt="moblie">
        <img src="../../../../assets/img/esim/steller-notes-mobile.png" class="d-md-none d-lg-none d-sm-block" alt="">
      </div>
      <div class="steller-project">
      <div class="get-steller-card">
        <div class="d-flex justify-content-between align-items-center w-100 get-bnt-mobile">

          <div class="d-flex  align-items-center ">
            <div class="steller-icon-get">
              <img src="../../../../assets/img/icons/doc-file.png" alt="">
            </div>
            <div class="steller-subscribtion">
              <h3>Get Stellar Notes now!</h3>
            </div>
          </div>
          <div class="steller-button">
            <button class="get-app" (click)="showAppModal = !showAppModal">Get App</button>
            <div class="modal-cstm" id="getapp" *ngIf="showAppModal">
              <div class="social-modal-dialog">
                <div class="modal-body app-btn-img">
                  <img src="../../../../assets/img/Aptoide_btn.png" alt="Aptoide-btn">
                  <img src="../../../../assets/img/google-play.png" alt="play-store">
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
<div class="d-flex justify-content-center mobile-wrap">
  <img src="/assets/images/Frame.svg" width="36" class="mr-4">
  <div class="andriod-text">
    <p class="semi-bold ">Works for all Android and AOSP projects</p>
    <span class="faded font-12">Includes GrapheneOS, LineageOS, CalyxOS, etc.</span>
  </div>
</div>
</div>
    </div>

  </div>
</div>

<section class="Protect-banner">
  <div class="container-fluid">
    <div class="steller-card-body flex-wrap">
      <div class="steller-card">
        <div class="steller-card-title ">
          <img src="../../../../assets/img/esim/tabler-icon-text-plus.png" alt="circle">
          <h5 class="mt-2">Create text notes</h5>
        </div>
        <p>Create encrypted notes store on your phone.</p>
      </div>
      <div class="steller-card">
        <div class="steller-card-title ">
          <img src="../../../../assets/img/esim/tabler-icon-lock.png" alt="circle">
          <h5 class="ml-0 mt-2">Encrypted notes</h5>
        </div>
        <p>All notes created are encrypted with AES-256 encryption.</p>
      </div>
      <div class="steller-card">
        <div class="steller-card-title">
          <img src="/assets/images/home/tabler-icon-password-mobile-phone.svg" alt="circle">
          <h5 class="mt-2">Password protection</h5>
        </div>
        <p>Protect all your notes by adding a password for the app.</p>
      </div>
      <div class="steller-card">
        <div class="steller-card-title ">
          <img src="../../../../assets/img/esim/alret.png" alt="circle">
          <h5 class="mt-2">Security settings</h5>
        </div>
        <p>Notes offers bruteforce protection and much more!</p>
      </div>
    </div>
   
 
  </div>

    <section class="animation-card section_margin">
    <div class="container">
     
      <!-- card-1 -->
      <div class="promo-card mb-5 z-index-0 snubed-artist">
        <div class="container">
          <div class="card-flex">
            <div class="mob-width">
              <div class="innner-detail-circle">
               <img src="../../../../assets/img/esim/Create.png" alt="">
              </div>
            </div>
            <div class=" mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Create and Edit text notes</h5>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <!-- card-2 -->
      <div class="promo-card mb-5 z-index-0 Transfer-risk">
        <div class="container">
          <div class="card-flex">
            <div class=" mob-width">
              <div class="innner-detail-circle">
               <img src="../../../../assets/img/esim/password-app.png" alt="">
              </div>
            </div>
            <div class=" mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Add a password for the app</h5>
                  
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
      <!-- card-3 -->
      <div class="promo-card mb-5 z-index-0 navigation">
        <div class="container">
          <div class="card-flex">
            <div class=" mob-width">
              <div class="innner-detail-circle">
               <img src="../../../../assets/img/esim/encrypt.png" alt="mob">
              </div>
            </div>
            <div class="mob-width">
              <div class="promocard-detail">
                <div class="innner-detail ">
                  <h5>Encrypted notes stored on your phone</h5>
                  
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
   
     
    </div>
  </section>

  <!-- Testimonial section -->
  <div class="testimonial pb-5">
    <div class="title">
      Testimonials
    </div>
    <owl-carousel-o [options]="customOptions" class="owl-side-effect">
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I recently lost my phone while traveling, and I was worried about my personal data falling into the wrong
            hands. Thanks to Stellar Protect's remote wipe feature, I was able to erase all my data remotely and avoid a
            potential disaster!</p>
            <div class="designation">
              <p>David Stevens</p>
              <p>SecureData Corp</p>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I've tried other security apps before, but none of them compare to this one. Its comprehensive set of
            features, user-friendly interface, and affordable pricing make it the perfect choice for individuals and
            businesses alike</p>
          <div class="designation">
            <p>Lisa Williams</p>
            <p>TechDefend Ltd.</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I've tried several security apps in the past, but Stellar Protect is by far the best! Its intuitive
            interface and powerful features make it a must-have for anyone concerned about online security</p>
          <div class="designation">
            <p>Sarah Miller</p>
            <p>SecureTech Solutions</p>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I recently lost my phone while traveling, and I was worried about my personal data falling into the wrong
            hands. Thanks to Stellar Protect's remote wipe feature, I was able to erase all my data remotely and avoid a
            potential disaster!</p>
            <div class="designation">
              <p>David Stevens</p>
              <p>SecureData Corp</p>
            </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_card">
          <img src="../../../../assets/img/comma.png" alt="" class="comma">
          <img src="../../../../assets/img/comma-blue.png"  alt="" class="comma blue">
          <p class="mt-5">I've tried other security apps before, but none of them compare to this one. Its comprehensive set of
            features, user-friendly interface, and affordable pricing make it the perfect choice for individuals and
            businesses alike</p>
          <div class="designation">
            <p>Lisa Williams</p>
            <p>TechDefend Ltd.</p>
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>

  </div>
</section>

<section class="customize_steller mt-0 steller-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="custamize-image-detail">
          <h3 class="w-80">Create Notes when you want</h3>
          <p>Whether you're a professional handling sensitive business information, a student taking notes on class projects, or just an individual who values their privacy, Stellar Notes has you covered.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="custamize-image d-flex justify-content-end mt-10">
          <img src="../../../../assets/img/esim/steller-notes-mobile.png"  alt="mobile">
        </div>
      </div>
      <div class="col-md-6 margin-top-100 order-no">
        <div class="custamize-image">
          <img src="../../../../assets/img/esim/secure-safe.png" alt="mobile">
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="custamize-image-detail">
          <h3 class="privacy-title w-80">Secure and safe</h3>
          <p>Works for all iOS and Android (AOSP-projects). Brute-force protection makes sure, your password can defend. Encrypted notes makes sure, that your notes are stored securely on your device with AES-256 encryption.</p>
        </div>
      </div>
    </div>
  </div>
</section>