
<div class="order_summary_card" *ngIf="!loading else summaryLoader">
    <div class="summary_card_header">
        <span>{{'order_summary_title' | translate}}</span>
    </div>
    <div class="summary_card_body pt-0">
        <div class="summary_invoice">
            <!--<div class="items">
                <span>{{'order_summary_subtotal_label' | translate}}</span><span>{{bagsItems.total.sub_total}}</span>
            </div>-->
            <div class="items">
                <span>{{'order_summary_shipping_label' | translate}}</span><span>{{bagsItems.total.shipping_cost}}</span>
            </div>
        </div>
        <div class="summary_total">
           <!-- <div class="items">
                <span>{{'order_summary_total_label' | translate}}</span>
                <span>{{bagsItems.total.total}}</span>
            </div>-->
        </div>
    </div>
</div>
<ng-template #summaryLoader>
    <div class="order_summary_card" >
        <div class="summary_card_header">
            <div class="sk sk-h"></div>
        </div>
        <div class="summary_card_body pt-0">
            <div class="total_item items">
                <div class="sk sk-h"></div>
            </div>
            <div class="summary_invoice">
                <div class="items" *ngFor="let item of [].constructor(2)">
                    <div class="sk sk-p"></div>
                </div>
               
            </div>
            <div class="summary_total">
                <div class="items d-flex justify-content-between ">
                    <div class="sk sk-h w-50 "></div>
                    <div class="sk sk-h w-25"></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>